.app-container{
  display: flex;
  height: 100vh;
}

.column {
  flex: 1;
  box-sizing: border-box;
}

.column-left {
  padding-left: 1.5%;
  padding-top: 0.4%;
  flex: 0.3;
  background-color: #f2f2f2; 
}

.icon-text-container{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  text-decoration: none;
  border-radius: 5px;
}

.icon-left{
  margin-left: 20px;
  margin-right: 30px;
  color: rgb(123, 119, 119);
}

.bin-icon{
  margin-left: 20px;
  margin-right: 30px;
  color: rgb(105, 100, 100);
  border: none;
  cursor: pointer;
}

.column-right {
  padding: 4px;
  padding-left: 2%;
  padding-right: 2%;
  flex: 0.7;
  background-color: #e6e6e6; 
}

.column-right h3{
  margin: 0;
  padding-top: 0;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-customer-btn, .add-item-btn, .add-invoice-btn{
  font-size: 11px;
  font-weight: bold;
  color: white;
  background-color:rgb(116, 19, 186);
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.new-customer-btn:hover, .add-item-btn:hover, .add-invoice-btn:hover{
  background-color:rgb(96, 9, 166);
}


.table-head-container{
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.table-head {
  flex: 1;
  padding: 10px; 
  text-align: left;
  font-size: 11px;
  font-weight: bold;
  color: rgb(20, 22, 22);
}

.table-items-container{
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
}

.table-item{
  flex: 1;
  padding: 10px; 
  text-align: left;
  font-size: 11px;
  font-weight: bold;
  color: rgb(37, 41, 41);
 }

.table-head, .table-item {
  min-width: 50px; 
  flex-shrink: 0;
}

.table-head, .table-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}


.header-container h3 {
  display: flex;
  margin-bottom: 10px;
}

.formChar {
  font-size: 11px;
  font-weight: bold;
  color: rgb(63, 68, 68);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.formChar input {
  border-radius: 4px;
  background-color: rgb(221, 228, 228);
  border-color: rgb(212, 204, 204);
  border-style: groove;
  margin-top: 5px ;
}

.form-box {
  padding: 20px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.formChar-submit {
  font-size: 11px;
  font-weight: bold;
  color: white;
  background-color:rgb(116, 19, 186);
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  width: 100px; 
  height: 30px;
}

.formChar-submit:hover {
  background-color:rgb(96, 9, 166);
}

.formControls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}
.icon-text-container.active {
  text-decoration: none;
  color: purple;
  font-weight: bold;
  background-color: #c78bd0;
}

.icon-text-container.active .icon-left {
  color: purple;
  cursor: pointer;
}

.large-input {
  height: 60px; 
  width: 100%;
  border-radius: 4px;
  background-color: rgb(221, 228, 228);
  border-color: rgb(212, 204, 204);
  border-style: groove;
  margin-top: 5px ;
}

.banner-text{
  margin-top: 0%;
  text-align: center;
}

.banner-text-left {
  display: flex;
  margin-left: 20px;
  margin-top: 1%;
  text-align: left;
}

.header-container-invoice{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 10px;
}

.invoice-page-container{
  flex-direction: column;
  display: flex;
  flex: 5;
}

.left-right-box{
  display: flex;
  
}

.left-new-invoice-page{
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: rgb(188, 201, 201);
}

.left-new-invoice-page2{
  display: flex;
  flex-direction: row;
  background-color: rgb(188, 201, 201);
  gap: 3px;
}

.items{
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: rgb(188, 201, 201);
}



.Items-header{
  flex: 1;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(20, 22, 22);
}

.price{
  flex: 1;
  padding: 4px;
  font-size: 10px;
  font-weight: bold;
  color: rgb(92, 99, 99);
}

.qty{
  flex: 1;
  padding: 10px;
  padding-top: 4px;  
  font-size: 10px;
  font-weight: bold;
  color: rgb(92, 99, 99);
}

.qty-price{
display: flex;
flex-direction: row;
align-items: center;
}

.left-new-invoice-page-header, .right-new-invoice-page-header-issuedAt, .right-new-invoice-page-header-invoiceNumber, .right-new-invoice-page-header-referenceID{
  font-weight: bold;
  color: rgb(107, 102, 102);
  flex-shrink: 1;
  flex-basis: 0;
  padding: 0 5px;
}
.right-new-invoice-page-header-issuedAt{
margin-bottom: 5px;
}

.right-new-invoice-page-header-issuedAt, .right-new-invoice-page-header-invoiceNumber, .right-new-invoice-page-header-referenceID{
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.customer-dropdown {
  width: 90%;
  margin-left: 5px;
  margin-right: 10px;
  color: #818487;
  padding-right: 3%;
  scroll-behavior: smooth;
  scroll-margin: 10px;
  padding-left: 1.5%;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #dccfcf;
  appearance: none; 
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color cubic-bezier(0.785, 0.135, 0.15, 0.86) ease;
}

.item-dropdown, .qtyChange{
  width: fit-content;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #818487;
  padding: 1%;
  scroll-behavior: smooth;
  scroll-margin: 10px;
  padding-left: 1.5%;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #dccfcf;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color cubic-bezier(0.785, 0.135, 0.15, 0.86) ease;
}

.qtyChange, .qty-input{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 30px;
}

.qty-input{
  flex: 1;
  padding: 4px;
  font-size: 10px;
  font-weight: bold;
  color: rgb(92, 99, 99);
}

.date-container {
  display: flex;
  justify-content: space-between;
}

.date-picker-input {
  color: #818487;
  padding: 3.8%;
  padding-left: 1.5%;
  padding: 2%;
  width: 100%;  
  max-width: 200px;  
  margin-bottom: 5%;
}

.text-input-box{
  padding: 3%;
  margin-bottom: 5%;
}

.customer-dropdown:hover {
  border-color: #888;
}

.customer-dropdown:focus {
  outline: none;
  border-color: #0077ff;
}


.right-new-invoice-page {
  display: flex;
  flex-direction: row;
  flex: 1.5;
  justify-content: space-between;
  background-color: #e1bce8;
  align-items: center;
  flex-wrap: nowrap;  
  padding: 0 10px;  
}

.right-new-invoice-page-header-right-box{
  display: flex;
  flex-direction: column;
}

.text {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 6px;
  font-weight: bold;
  color: #4c4f53;
}

.cat-facts {
  display: flex;
  flex-direction: column;
}

.cat-facts-btn{
  display: flex;
  width: fit-content;
  font-size: 11px;
  font-weight: bold;
  color: white;
  background-color:rgb(116, 19, 186);
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  margin-top: 5px;
  margin-bottom: 10px;
}