.app-container{
  display: flex;
  height: 100vh;
}

.column {
  flex: 1;
  
  box-sizing: border-box;
}

.column-left {
  margin-top: 2vh;
  padding-left: 2%;
  padding-top: 1%;
  flex: 0.3;
  background-color: #f2f2f2; 
}

.icon-text-container{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon-left{
  margin-left: 20px;
  margin-right: 30px;
  color: darkgrey;
}

.column-right {
  padding: 4px;
  margin-top: 2vh;
  padding-left: 2%;
  padding-right: 2%;
  flex: 0.7;
  background-color: #e6e6e6;  
}

.column-right h3{
  margin: 0;
  padding-top: 0;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-customer-btn{
  font-size: 11px;
  font-weight: bold;
  color: white;
  background-color:rgb(116, 19, 186);
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.new-customer-btn:hover{
  background-color:rgb(96, 9, 166);
}

.table-head-container{
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.table-head {
  flex: 1;
  padding: 10px; 
  text-align: left;
  font-size: 11px;
  font-weight: bold;
  color: rgb(20, 22, 22);
}

.table-items-container{
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.table-item{
  flex: 1;
  padding: 10px; 
  text-align: left;
  font-size: 11px;
  font-weight: bold;
  color: rgb(37, 41, 41);
 }
 .table-head-container, .table-items-container {
  overflow-x: auto; 
}

.table-head, .table-item {
  min-width: 100px; 
}

.table-head, .table-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-container h3 {
  display: flex;
  margin-bottom: 10px;
}

.formChar {
  font-size: 11px;
  font-weight: bold;
  color: rgb(63, 68, 68);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.formChar input {
  margin-left: 5px;
  border-radius: 4px;
  background-color: rgb(221, 228, 228);
  border-color: rgb(212, 204, 204);
  border-style: groove;
}

.form-box {
  padding: 20px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.formChar-submit {
  font-size: 11px;
  font-weight: bold;
  color: white;
  background-color:rgb(116, 19, 186);
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.formChar-submit:hover {
  background-color:rgb(96, 9, 166);
}

.formControls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}
